<div class="container my-5 px-4">
  <h5 class="bg-light px-4 ml-3 d-inline-block">会員一覧</h5>
  <table class="table table-borderless mt-4">
    <thead class="thead-light custom-bordered-thead">
      <tr>
      <th>会員ID</th>
      <th><u>氏名</u></th>
      <th>メールアドレス</th>
      <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= link_to "(customer.last_name customer.first_name)", admin_customer_path(customer) %></td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_active %>
              <p class="text-success"><strong>有効</strong></p>
            <% elsif %>
              <p class="text-muted"><strong>退会</strong></p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <%= paginate @customers %>
  </div>
</div>
