<div class="container white-bg p-5">
<h4 class="admin-title">ジャンル編集</h4>

  <h4 class="py-5">
    <%= form_with model: [:admin, @genre], local: true do |f| %>
      <div class="d-flex mb-3" style="gap: 80px;">
        <%= f.label :name, "ジャンル名", class: "form-label" %>
        <%= f.text_field :name, style: "width: 275px;" %>
        <%= f.submit "   変更を保存   ", class: "btn btn-success", style: "border-radius: 8px;" %>
      </div>
    <% end %>
  </h4>
</div>

